	@import 'Particle/Color';
$butt-pad: 5px;

.button
	{
		background: $butt-bg;
		border-radius: 8px;
		color: $butt-col;
		display: inline-block;
		padding: $butt-pad;
		text-decoration: none;
	}
	.jumbo-button
	{
			@extend .button;
		padding: $butt-pad + 30;
	}

.light-button
	{
			@extend .button;
		background: $butt-bg * 1.5;
	}

