    @import 'Variable/Color';

nav {
    background-color: #fff;
    ul {
        margin: 0;
    	padding: 0;
    	li
    	{
        	margin: 10px;
        	// font-size: 1.125em;
    	}
        a {
    		padding: 5px;
            transition: all ease-in-out 500ms;
        }
        a:hover {
            background: $blue;
            // color: $white;
            text-decoration: none;
            border-radius: 999px; // padding: 25px;
        }
    }
}
.horiNav {
    ul {
        li {
            display: inline-block;
            a {
            }
        }
    }
}
.vertiNav {
    ul {
        li {
            display: block;
            a {
            }
        }
    }
}