$red: #FF0000;

$white: #FFFFFF;
$black: #000000;

$yellow: #FFFF00;

$green: #00FF00;
$blue: #0000FF;

$cyan: #00FFFF;
$magenta: #FF00FF;

$grey: #7F7F7F;


// Backround Colors \\

$bod-bg: #404040;

$leg-bg: #BFBFBF;

$butt-bg: #006699;

// Links \\

$anorm-col: #000000;
$ahov-col: #007F00;
$avis-col: #ffff00;

// Headers \\

$head-col: #ff0000;

// Texts \\

$txt-col: #000fff;

$butt-col: #ffffff;